$top-header-bg: #00796B;

$primary-bg: rgba(230, 230, 230, 0.837);

$primary-color:  #008374;
$secondary-color:  #f85a40;
$default-color: #222222;

$default-font: "Open Sans", system-ui, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" ;
$primary-font: "Montserrat", sans-serif;
$secondary-font: "Poppins", sans-serif;


